    .smls-main-logo-outer-572134168.smls-main-logo-wrapper {
        width: 100%;
        margin:0 auto;
    }
    .smls-main-logo-outer-572134168 .smls-grid-container-template-1 .smls-grid-each-item:before,
    .smls-main-logo-outer-572134168 .smls-grid-container-template-1 .smls-grid-image-wrap:before,
    .smls-main-logo-outer-572134168 .smls-grid-container-template-2 .smls-grid-each-item:before,
    .smls-main-logo-outer-572134168 .smls-grid-container-template-2 .smls-grid-image-wrap:before {

        border-left: 1px solid #e9e9e9;
    }
    .smls-main-logo-outer-572134168 .smls-grid-container-template-1 .smls-grid-each-item:after,
    .smls-main-logo-outer-572134168 .smls-grid-container-template-1 .smls-grid-image-wrap:after,
    .smls-main-logo-outer-572134168 .smls-grid-container-template-2 .smls-grid-each-item:after,
    .smls-main-logo-outer-572134168 .smls-grid-container-template-2 .smls-grid-image-wrap:after {
        border-bottom: 1px solid #e9e9e9;
    }
    .smls-main-logo-outer-572134168 .smls-grid-container-template-2 {
        border: 1px solid #e9e9e9;
    }

    .smls-main-logo-outer-572134168 .smls-carousel-pager-template-2.owl-theme .owl-dots .owl-dot span:before
    {
        background-color:  #0bd4ea;

    }
    .smls-main-logo-outer-572134168 .smls-carousel-pager-template-2.owl-theme .owl-dots .owl-dot span {
        background:  #cacaca;
    }

    .smls-main-logo-outer-572134168 .smls-carousel-arrow-type-1.owl-theme .owl-controls .owl-nav [class*=owl-]:hover {
        background-color: rgba(71, 71, 71, 0.7);
    }
    .smls-main-logo-outer-572134168 .smls-carousel-arrow-type-1.owl-theme .owl-controls .owl-nav [class*=owl-] {
        background-color: #0bd4ea;
    }
    .smls-main-logo-outer-572134168 .smls-carousel-arrow-type-2.owl-theme .owl-controls .owl-nav [class*=owl-] {
        background-color:  #0bd4ea;
    }
    .smls-main-logo-outer-572134168 .smls-carousel-arrow-type-2.owl-theme .owl-controls .owl-nav [class*=owl-]:hover {
        background-color: rgba(71, 71, 71, 0.7);
    }
    .smls-main-logo-outer-572134168 .smls-carousel-arrow-type-3.owl-theme .owl-controls .owl-nav [class*=owl-] {
        border: 2px solid #0bd4ea;

    }
    .smls-main-logo-outer-572134168 .smls-carousel-arrow-type-3.owl-theme .owl-controls .owl-nav [class*=owl-]:before {
        background-color: rgba(71, 71, 71, 0.7);
    }
    .smls-main-logo-outer-572134168 .smls-carousel-arrow-type-3.owl-theme .owl-controls .owl-nav [class*=owl-]:hover {
        border-color: rgba(71, 71, 71, 0.7);
    }
    .smls-main-logo-outer-572134168 .smls-carousel-arrow-type-4.owl-theme .owl-controls .owl-nav [class*=owl-] {
        border: 2px solid #0bd4ea;
        color: #0bd4ea;
    }
    .smls-main-logo-outer-572134168 .smls-carousel-arrow-type-4.owl-carousel .owl-controls .owl-nav [class*=owl-]:hover {
        background-color: rgba(71, 71, 71, 0.7);
        color: #333333;
    }
    .smls-main-logo-outer-572134168 .smls-carousel-arrow-type-5.owl-theme .owl-controls .owl-nav [class*=owl-] {
        background-color:  #0bd4ea;

    }

    .smls-main-logo-outer-572134168 .smls-carousel-template-2.owl-carousel .smls-carousel-four-items {
        border: 1px solid  #eee;
    }